*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
}

body{
  font-family: "Rubik", sans-serif;
}

a{
  text-decoration: none;
  display: inline-block;
}

.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}

.gap-10{
  gap: 10px;
}

.gap-15{
  gap: 15px;
}

.gap-30{
  gap: 30px;
}

/* Header Starts Here */

.header-top-strip {
  background-color: var(--color-131921);
  border-bottom: 1px solid var(--color-3b4149);
}

.header-upper{
  background-color: var(--color-131921);
}

.header-upper .input-group-text{
  background-color: var(--color-febd69);
}

.cart-icon{
  color: #febd69;
}

.header-bottom{
  background-color: var(--color-232f3e);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button{
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus{
  box-shadow: none;
}

.header-bottom .dropdown-menu{
  background-color: var(--color-131921);
  width: 100%;
}

.header-bottom .dropdown-item{
  padding: 16px;
  border-bottom: 1px solid #3b4149;
}

.header-bottom .dropdown-item:hover{
  background-color: transparent;
  color: #febd69 !important;
}

/* Header Ends Here */

/* Footer Starts Here */

footer{
  background-color: #232f3e;
}

footer:not(:first-child){
  border-top: 1px solid #3b4149;
}
/* Footer Ends Here */

/* Home Wrapper Starts Here*/

.home-wrapper-1{
  background-color: #f5f5f7;
}

.categories{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  border-radius: 10px;
  padding: 15px;
}

.categories > div{
  width: 25%;
  padding: 10px 10px 10px 20px;
}

.categories >div >img {
  width: 35%;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7){
  border-right: 1px solid #ededed;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4){
  border-bottom: 1px solid #ededed;
}

.home-carousel img{
  height: 70vh;
  object-fit: cover;
}

.card-wrapper{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  border-radius: 10px;
}
/* Home Wrapper Ends Here */

/* Product Card Starts here */

.product-card{
  background-color: white;
  padding: 16px;
  width: 18rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
}

.brand{
  color: #bf4800;
  font-size: 1rem;
}

.product-card .product-image img{
  width: 100%;
  height: auto;
}

.product-details{
  color: var(--color-131921);
}

/* Product Card Ends here */